<div class="kf-popup d-none">
  <div class="kf-popup__content-wrapper">
    {% render 'icon' with icon_name: 'close' %}
    <span class="kf-popup__title">Title</span>
    <div class="kf-popup__content">Content</div>

    <div class="kf-popup__buttons">
      <button class="button button__primary kf-popup__confirm">Confirm</button>
      <button class="button button__outline kf-popup__cancel">Cancel</button>
    </div>
  </div>
</div>