<img src="{{'Header_fabric_2.jpg' | file_img_url: '600x'}}" alt="UV3 Fabric Protection Program">

<div class="modal-warranty-fabric-protection">
	<div class="Header">
	    <h2>UV3 Fabric Protection Program</h2>
	</div>
	<div class="Subheader">
	    Masterguard+ UV3 Protection repels
	    stains and spills and provides protection
	    from sunlight. Its special formula provides
	    assurance that life’s little surprises won’t
	    put a damper on your lifestyle.
	</div>

	<div class="Bulletpoint-header">
	    <h3>Fabric Protection</h3>
	</div>
	<div class="Bullettext">
	    Prevents oil, water based stains, human
	    excretions, such as blood and uring, and
	    so much more from penetrating into upholstry
	    and fabrics.
	</div>
	<ul class="Bulletlist" style="margin-bottom: 3rem">
	    <li><span>Provides full warranty on anything you can eat or drink.</span></li>
	    <li><span>Can be used on most fabrics.</span></li>
	    <li><span>Water based formula, no silicone, non-toxic.</span></li>
	    <li><span>Contains ultra violet inhibitors to help reduce fabric fading due to UV exposure from sunlight.</span></li>
	    <li><span>Unique formula penetrates deep into fibers to protect fabric from the inside out.</span></li>
	    <li><span>Provides a barrier against the abrasion of dirt and dust particles, increasing the fabric durability.</span></li>
	    <li><span>7 year protection program.</span></li>
	</ul>
	<div class="Bullettext">
		Masterguard+ is a long term maintenance program and a quality furniture product.
		Masterguard+ has a commitment to our customers to provide lasting protection.
</div>
</div>
