<img src="{{'Header_fabric_2.jpg' | file_img_url: '600x'}}" alt="Leather Protection Program">

<div class="modal-warranty-leather-protection">
	<div class="Header">
	    <h2>UV3 Leather Protection Program</h2>
	</div>
	<div class="Subheader">
	    Keep your beautiful leather furniture looking like new with the UV3 Leather Protection Program
	</div>
	<div class="Bulletpoint-header">
	    <h3>Rip &#38; Tear Protection</h3>
	</div>
	<div class="Bullettext">
	    In the event that an accidental tear, rip, burn
	    or puncture occurs, UV3 will send a
	    professional technician to repair the damage.
	    In the event it cannot be repaired, UV3 will
	    replace the item with one identical or equal
	    to in value.
	</div>
	<div class="Bulletpoint-header">
	    <h3>UV3 Leather Cleaner</h3>
	</div>
	<div class="Bullettext">
	    Leather is one of the most durable covers
	    you can buy, but it requires cleaning. It
	    collects airborne dust, grease, smoke and
	    everyday household stains. UV3 surface
	    cleaner will safely remove all of these stains
	    from the leather surface.
	</div>
	<div class="Bulletpoint-header">
	    <h3>UV3 Leather Conditioner</h3>
	</div>
	<div class="Bullettext">
	    Helps maintain the suppleness of leather and
	    contains pure protein. Unlike other conditioners
	    that contain oils, UV3 conditioner will not attract
	    dust. It also has protective polymers to repel
	    household stains. UV3’s conditioner is the best
	    money can buy. Five Year Warranty Included.
	</div>
	<div class="Bulletpoint-header">
	    <h3>UV3 Ink &#38; Lipstick Remover</h3>
	</div>
	<div class="Bullettext">
	    Removes accidental staining caused by:
	    ballpoint pen, lipstick, crayon and scuff marks
	    from semi-aniline dyed leather furnture. (Not
	    recommended for naked leather).
	</div>
	<div class="Bulletpoint-header">
	    <h3>Your UV3 Furniture Protection Package Includes:</h3>
	</div>
	<ul class="Bulletlist">
	    <li> One 16 oz. bottle of cleaner</li>
	    <li> One 16 oz. bottle of conditioner</li>
	    <li> One Ink &#38; Lipstick Remover</li>
	    <li> Two reusable application cloths</li>
	    <li> 5 Year Limited Warranty (renewable)</li>
	</ul>
</div>
