<img src="{{'Header_fabric_2.jpg' | file_img_url: '600x'}}" alt="Power Protection Program">

<div class="modal-warranty-power-protection">
	<div class="Header">
	   <h2>Motion &#38; Motor Extended Service Plan</h2>
	</div>
	<div class="Subheader">
	    Kane’s 5 year power furniture service plan
	    on your motion furniture provides
	    assurance that life’s little surprises won’t
	    put a damper on your lifestyle so you
	    can continue to recline in style!
	</div>

	<div class="Bulletpoint-header">
	    <h3>Motion &#38; Motor Coverage</h3>
	</div>

	<div class="Bullettext">
	    Our service plan picks up where the manufacturer’s
	    warranty ends. You will never pay out of pocket
	    for a structural or mechanical default. This plan
	    covers:
	</div>

	<ul class="Bulletlist">
	    <li>Parts</li>
	    <li>Labor</li>
	    <li>Transportation Costs</li>
	    <li>Lifting Mechanism</li>
	    <li>Lowering Mechanism</li>
	    <li>Drive Motors</li>
	    <li>Massage Motors</li>
	    <li>AC/DC Transformer</li>
	    <li>Control Box</li>
	    <li>Junction Box</li>
	    <li>Power-Down Box</li>
	    <li>Electrical Components</li>
	    <li>Remote Control</li>
	    <li>Remote Control Receiver</li>
	    <li>Cable Failure</li>
	    <li>Breakage of Mechanism</li>
	    <li>Breakage of Steel Frame</li>
	    <li>Breakage of Welds</li>
	    <li>Electrical Surge</li>
	</ul>
	
	<br/>
	<div class="Subheader">
	    We highly recommend adding this
	    warranty to your power motion furniture
	    purchase to ensure lasting enjoyment
	    and comfort.
	</div>
</div>
