<div class="warranty-modals">
  <div id="modal-warranty-fabric-protection" class="warranty-modal d-none">
    {% render 'modal-warranty-fabric-protection' %}
  </div>

  <div id="modal-warranty-leather-protection" class="warranty-modal d-none">
    {% render 'modal-warranty-leather-protection' %}
  </div>

  <div id="modal-warranty-power-protection" class="warranty-modal d-none">
    {% render 'modal-warranty-power-protection' %}
  </div>
</div>