.desktop-only {
  display: block;
  padding-bottom: 6.5rem;
  padding-top: 14.5rem;
  background-color: #fff;
  position: relative;
  @media (max-width: 1024px) {
    display: none;
  }
}
.about-timeline {
  color: black;
  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding-left: 7.4285714286%;
    padding-right: 7.4285714286%;
    @media (max-width: 1024px) {
      padding-left: 6.2rem;
      padding-right: 6.2rem;
    }
    @media (max-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .about-timeline__content {
      display: flex;
      flex-direction: row;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
      .timeline__left {
        border-right: 1px solid rgb(var(--border-primary-color));
        width: 36%;
        z-index: 2;
        .timeline__fifty-eight {
          margin-bottom: 1.5rem;
          .timeline__block-wrap {
            padding: 4.5rem 2rem 4.7rem 5.3rem;
            .timeline__block {
              padding-top: 2.5rem;
            }
          }
        }

      }
      .timeline__right {
        width: 64%;
        z-index: 2;
        padding-top: 3.5rem;
        .timeline__forty-eight {
          margin-bottom: 6rem;
        }
        .timeline__date-wrap--right {
          width: 100%;
          max-width: 41.3rem;
          left: 0;
        }
        .timeline__date-wrap--right-mid {
          max-width: 15.7rem;
          left: 0;
        }
        .timeline__today-date-wrap {
          max-width: 18.8rem;
          left: 0;
        }
        .timeline__forty-eight-img {
          max-width: 27.2rem;
          width: 100%;
        }
          
        .timeline__block-super-wrap--right:nth-child(2) {
          padding-right: 0;
          padding-left: 9rem;
        }
        .timeline__block-super-wrap--right:nth-child(3) {
          padding-right: 0;
          padding-left: 9.8rem;
        }
      }
      .timeline__block-super-wrap {
        padding-right: 2rem;
        position: relative;
      }
      .timeline__block {
        padding-top: 3rem;
        position: relative;
      }
      .timeline__date-wrap {
        background: rgb(var(--primary-color));
        height: 1px;
        left: calc(4.3rem + 100px);
        position: absolute;
        right: 0;
        top: 4.3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .timeline__date {
          color: rgb(var(--text-primary-color));
          font-size: 3.6rem;
          font-family: var(--font-heading-family);
          margin-left: -100px;
        }
        .timeline__date--right{
          margin-right: -100px !important;
        }
        .timeline__sixty-three-date{
          margin-right: -190px !important;
        }
        .timeline__date--left {
          padding-right: 2rem;
        }
        .timeline-dot--right {
          margin-right: 0;
          margin-left: -1.1rem;
          float: left;
      }
      }
    }
  }
  
  .timeline__block-wrap--light {
  padding: 4.5rem 2rem 4.7rem 5.3rem;
  }
  .timeline__split-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .timeline__split-content--sixty-three {
    flex-direction: row-reverse;
    margin-left: 0;
    padding-top: 15px;
  }
  
  .timeline__text {
    font-family: nimbus-sans,sans-serif;
    font-weight: 400;
    margin: 0 0 3rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  
  .timeline__block--right-top {
    padding-left: 2rem;
    width: 100%;
  }
  
  .timeline__block-wrap--right-bottom {
    padding: 4.7rem 0;
  }
  
  .timeline__block-wrap--right-mid {
    padding-bottom: 4.7rem;
  }
  .timeline-dot {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 0;
    margin-right: -1.1rem;
    padding: 2.5px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #7d858b;
    display: flex;
    justify-content: center;
    align-items: center;
    .timeline-dot__inner {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgb(var(--primary-color));
    }
  }
  
  .about-timeline__header-title {
    color: black;
    max-width: max-content;
    position: relative;
    font-size: 5.2rem;
    font-family: var(--font-heading-family);
    padding-bottom: 0.4rem;
    padding-left: 4.7rem;
    margin-bottom: 11rem;
    &::after {
      content: "";
      background-color: rgb(var(--primary-color));
      bottom: 0;
      height: 1px;
      left: 4.7rem;
      position: absolute;
      width: 5rem;
    }
  }
}

// Mobile
.hide-desktop {
  display: none;
  @media (max-width: 1024px) {
    display: block;
    padding: 26rem 2rem 4rem;
    background-color: #e5f3f4;
    position: relative;
  }
  .about-timeline__header-title {
    margin: 0 auto;
    position: relative;
    font-size: 3.8rem;
    padding: 0;
    padding-bottom: 2rem;
    text-align: center;
    line-height: 1;
    color: #fff;
    margin-bottom: 4rem;
    &::after {
      background-color: rgb(var(--text-primary-color));
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      width: 10.5rem;
    }
  }
  .timeline__block:first-child .timeline__divider {
    margin-bottom: -2rem;
  }
  .timeline__year {
    color: rgb(var(--text-primary-color));
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 3px;
  }

  .timeline__divider {
    height: 5rem;
    width: 1px;
    background-color: rgb(var(--primary-color));
    margin: 0 auto;
    position: relative;
    .timeline-dot--mobile {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -1.1rem;
    }
  }
  .timeline__block {
    padding: 0 3.5rem;
    @media (max-width: 768px) {
      padding: 0;
    }
    .timeline__block-inner.column-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .timeline__block:first-child .timeline-dot {
    top: 0;
  }
  .timeline__image {
    position: relative;
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .timeline__desc {
    margin-top: 2.3rem;
    .timeline__text {
      margin: 0;
      p {
        margin: 0;
      }
    }
  }
}