.about-history {
  margin: 0 auto;
  max-width: 140rem;
  padding-top: 2rem;
  padding-left: 10.4rem;
  padding-right: 10.4rem;
  padding-bottom: 14rem;
  display: block;
  color: rgb(var(--text-primary-color));
  @media (max-width: 1024px) {
    padding: 0 6.2rem;
  }
  @media (max-width: 768px) {
    padding: 0 2rem;
  }
  .about-history__title {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 42px;
    text-transform: uppercase;
    font-family: var(--font-heading-family);
    font-weight: 400;
    color: rgb(var(--text-primary-color));
    padding-bottom: 0.25rem;
    margin: 3rem 0 5rem;
    @media (max-width: 1024px) {
      font-size: 3.5rem;
    }
    @media (max-width: 768px) {
      margin: 3rem 0 3.5rem;
  }
    .hide-desktop {
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
    &::after {
      content: "";
      background-color: rgb(var(--text-primary-color));
      width: 27.3rem;
      height: 1px;
      left: 0;
      right: 0;
      bottom: -0.3rem;
      margin: auto;
      position: absolute;
      @media (max-width: 1024px) {
        width: 10.6rem;
      }
    }
  }
  .about-history__image {
    width: 50%;
    margin-top: 1.5rem;
    @media (max-width: 1024px) {
      width: 100%;
    } 
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .about-history__content {
    display: flex;
    flex-direction: row;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
    .about-history__text {
      width: 50%;
      padding-left: 6rem;
      @media (max-width: 1024px) {
        width: 100%;
        padding-left: 0;
      } 
      p {
        padding: 0;
        margin: 0 0 2rem;
        font-size: 1.6rem;
        line-height: 2.3rem;
        font-family: nimbus-sans, sans-serif;
      }
    }
  }
}
  
  
  
