#home-follow-us-section {
  .yotpo-slider-wrapper {
    @media screen and (min-width: $responsive-large){
      width: 75%;
    }
  }

  .yotpo-slider-title-wrapper {
    position: relative;
    background-color: white;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      display: block;
      height: 1px;
      background-color: rgb(var(--primary-color));
      transform: translateY(50%);
      width: 15%;

      @media screen and (min-width: $responsive-large){
        width: 25%;
      }
    }

    &::before{
      left: 0;
      margin-left: 5%;

      @media screen and (min-width: $responsive-medium){
        margin-left: 10%;
      }
    }

    &::after{
      right: 0;
      margin-right: 5%;

      @media screen and (min-width: $responsive-medium){
        margin-right: 10%;
      }
    }
    
    .yotpo-slider-title {
      display: inline-block;

      &:after {
        content: "@kanesfurniture";
        color: #000;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        font-size: 1.6rem;
      }
    }
  }

  .yotpo-pictures-gallery-header-wrapper {
    margin-bottom: 6rem;
  }
}