.store-page{
    max-width: 1400px;
    padding: 0 20px;
    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        h1{
            font-size: 50px;
            font-family: var(--font-heading-family);
            color: rgb(var(--primary-color));
            margin: 0;
        }
    }
    .subheading{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        h2{
            font-size: 30px;
            font-family: var(--font-heading-family);
            color: rgba(0, 0, 0, 0.6);
            margin: 0;
        }
    }
    .store-info-wrapper{
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .store-image{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img{
                width: 70%;
            }
        }
        .store-info{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            div:not(:last-child){
                margin-bottom: 40px;
            }
            h3{
                font-size: 26px;
                font-family: var(--font-heading-family);
                font-weight: normal;
                color: black;
                margin-bottom: 20px;
                margin: 0;
            }
            p{
                font-size: 20px;
                font-family: var(--font-body-family);
                color: rgba(0, 0, 0, 0.6);
                margin: 0;
                line-height: 35px;
            }
            .phone{
                text-decoration: underline;
                font-size: 20px;
                font-family: var(--font-body-family);
                color: rgba(0, 0, 0, 0.6);
                margin: 0;
                line-height: 35px;
                cursor: pointer;
            }
        }
    }
    .store-buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        a{
            background-color: rgb(var(--primary-color));
            text-decoration: none;
            color: rgb(255, 255, 255);
            width: 305px;
            height: 55px;
            font-size: 18px;
            font-family: var(--font-body-family);
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
        }
    }

    .store-description{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        flex-direction: column;
        h3{
            font-size: 30px;
            font-family: var(--font-heading-family);
            color: black;
            margin-bottom: 20px;
            margin-top: 0;
            width: 100%;
            text-align: left;
        }
        p{
            font-size: 20px;
            font-family: var(--font-body-family);
            color: rgba(0, 0, 0, 0.6);
            padding-left: 20px;
            margin: 0;
            line-height: 35px;
        }
    }

    .store-neighborhoods{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        .neighborhoods{
            width: 400px;
            display: flex;
            flex-direction: column;
            h3{
                font-size: 30px;
                font-family: var(--font-heading-family);
                color: black;
                margin-top: 0;
                width: 100%;
                text-align: left;
                margin-bottom: 20px;
            }
            .neighborhoods-title{
                font-size: 20px;
                font-family: var(--font-body-family);
                color: rgba(0, 0, 0, 0.6);
                padding-left: 20px;
                margin-bottom: 10px;
                line-height: 30px;
            }
        }

        .map{
            max-width: calc(100% - 400px);
            img{
                max-width: 100%;
                border: 1px black solid;
                margin-bottom: 20px;
            }
            h3{
                font-size: 30px;
                font-family: var(--font-heading-family);
                color: black;
                margin-top: 0;
                width: 100%;
                text-align: left;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                font-family: var(--font-body-family);
                color: rgba(0, 0, 0, 0.6);
                margin: 0 0 20px 0;
                line-height: 35px;
            }
            a{
                color: black;
                font-family: var(--font-body-family);
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 650px){
    .store-page{
        .store-info-wrapper{
            .store-image img{
                width: 100%;
            }   
        }
    }
}
@media screen and (max-width: 900px){
    .store-page{
        .store-info-wrapper{
            flex-direction: column;
            align-items: center;
            padding: 30px 0;
            .store-image{
                width: 100%;
                margin-bottom: 20px;
            }
            .store-info{
                width: 100%;
                text-align: left;
                align-items: flex-start;
                div{
                    margin-bottom: 20px;
                    h3{
                        font-size: 25px;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 30px;
                        padding-left: 20px;
                    }
                }
            }
        }
        .store-neighborhoods{
            flex-direction: column-reverse;
            align-items: center;
            .neighborhoods{
                width: 100%;
                margin-bottom: 0px;
                h3{
                    font-size: 25px;
                }
                .neighborhoods-title{
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
            }
            .map{
                max-width: 100%;
                margin-bottom: 20px;
                img{
                    max-width: 100%;
                    margin-bottom: 10px;
                }
                h3{
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                p, a{
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 1100px){
    .store-page{
        .heading{
            h1{
                font-size: 35px;
                text-align: center;
            }
        }
        .subheading{
            h2{
                font-size: 25px;
            }
        }
        .store-buttons{
            a{
                height: 45px;
                font-size: 12px;
                width: 45% !important;
                margin: 5px !important;
            }
        }

        .store-description{
            h3{
                font-size: 25px;
            }
            p{
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
}
@media screen and (max-width: 1300px){
    .store-page{
        .store-buttons{
            flex-wrap: wrap;
            justify-content: center;
            a{
                margin: 0 10px 10px;
            }
        }
    }
}
