<div class="customer account">
  <div>
    <h1 class="customer_hdr">{{ 'customer.account.title' | t }}
    </h1>
  </div>

  {%- render 'address-content-desktop' -%}
  {%- render 'address-content-mobile' -%}
</div>
