<style>
  .cta-positions a {
    text-decoration: none;
  }
  .cta-positions h1 {
    font-family: var(--font-heading-family);
    color: rgb(var(--primary-color));
    font-size: 5.2rem;
    text-align: center;
  }
  @media (max-width: 1024px) {
    .cta-positions h1 {
      font-size: 3.5rem;
    }
  }
</style>
<section class="cta-positions">
  <a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=98b11d0c-9841-43a0-a8b3-118b78496e4b&ccId=19000101_000001&lang=en_US">
    <h1>Click here for our open positions</h1>
  </a>
</section>

{% schema %}
{
  "name": "CTA Open Jobs",
  "presets": [
    {
      "name": "CTA Open Jobs"
    }
  ]
}
{% endschema %}
