<section class="home-reviews">
    <header class="hdr">
        <h1 class="hdg"><span>customer reviews</span></h1>
    </header>

    <div class="yotpo yotpo-reviews-carousel" data-background-color="transparent" data-mode="top_rated" data-type="site"
        data-count="9" data-show-navigation="1">
    </div>

    <div class="home-reviews__actions">
        <a href="/pages/reviews" class="btn">See All Reviews</a>
    </div>
</section>
{% schema %}
    {
        "name": "Home Reviews",
        "presets": [{
            "name": "Home Reviews",
            "category": "Reviews"
        }]
    }
{% endschema %}