<section id="home-follow-us-section" class="social-carousel">
  <div class="container--large container ir social-carousel__ir">
    
  </div>
  <div class="social-carousel__content container">
    <div class="yotpo yotpo-pictures-widget" data-gallery-id="63b5b315e24917001c9700fc">
      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Home Follow Us",
    "presets": [
      {
        "name": "Home Follow Us",
        "category": "Social Media"
      }
    ]
  }
{% endschema %}