<div id="legal-content">
  <div class="page-width">
    {{ shop.metafields.global.legal_content }}
  </div>
</div>

{% schema %}
  {
    "name": "Legal Content",
    "presets": [{
      "name": "Legal Content"
    }]
  }
  {% endschema %}