<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/qDQoZLHZLDuZr91D09hmNdXhVGG6Fy5ycV35BZsr/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>

<section class="reviews">
	<div class="container container--small">

		<header class="hdr">
			<h1 class="reviews__heading hdg"><span>customer reviews</span></h1>
			<p class="reviews__copy">Since 1948, Kane's Furniture has developed a well-earned reputation for offering a wide variety of quality furnishings, all at affordable prices. Our philosophy of delivering the latest styles affordably underlies everything we do. Together with our customer-first service, it's easy to see why Kane's has something for everyone — and always for less.</p>
		</header>
	</div>

    <div class="reviews_bg">
        <div class="reviews__wrap">
            <div class="container container--small">
              <div id='yotpo-testimonials-custom-tab'></div>
            </div>
        </div>
    </div>

</section>

{% schema %}
{
    "name": "Reviews",
    "presets": [{
        "name": "Reviews",
        "category": "Reviews"
    }]        
}
{% endschema %}