.button {
  position: relative;
  transition: background-color 1s ease, --border-opacity 1s ease;
  min-height: initial !important;
  padding: 1rem 3rem !important;
  text-align: center;

  &::after {
    content: ' '!important;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(255, 255, 255, .15)!important;
    opacity: 0!important;
    transition: opacity .5s ease!important;
  }
}

.button__primary {
  color: rgb(var(--button-primary-text-color)) !important;
  background-color: rgb(var(--primary-color)) !important;
  --border-opacity: rgb(var(--button-primary-color)) !important;
}

.standart_button{
  margin-top: 3rem;
  background-color: rgb(var(--primary-color));
  border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: nimbus-sans,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;
  height: 50px;
  max-width: 100%;
  padding: 2rem 4rem 2rem !important;
  text-align: center;
  text-transform: uppercase;
  transition: font-size 400ms ease-in-out,background 400ms ease-in-out,padding 400ms ease-in-out;
}

.button__secondary {
  color: rgb(var(--button-secondary-text-color)) !important;
  background-color: rgb(var(--button-secondary-color)) !important;
  --border-opacity: rgb(var(--button-secondary-color)) !important;
}

.button__tertiary {
  color: rgb(var(--button-tertiary-text-color)) !important;
  background-color: rgb(var(--button-tertiary-color)) !important;
  --border-opacity: rgb(var(--button-tertiary-color)) !important;
}

.button__outline {
  color: rgb(var(--text-primary-color)) !important;
  background-color: transparent !important;
  --border-opacity: rgb(var(--button-primary-color)) !important;
}

.button:hover::after {
  opacity: 1!important;
}