.search-modal__form {
  input.search__input {
    width: 100%;
    height: auto;
    // padding: 2rem 0.625rem 1rem 3.125rem;
    border-radius: 3px;
    border: 1px solid #c9d1d7;
    background-color: white;
    color: $color-gray;
    font-size: 1.5rem;
  }

  .field__label {
    top: 1.6rem;
    left: 1.6rem;
    color: #b4b4b4; 
  }
}